body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #161616 !important;
  position: relative;
  color: white !important;
  font-family: "Roboto Mono", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  height: 100%;
}

.confidential p {
  position: fixed;
  left: 0;
  top: 70%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: top left;
  white-space: nowrap; /* Ensures the text stays in one line */
  letter-spacing: 5px;
}

#background-video {
  opacity: 0.1;
  position: fixed; /* Use fixed or absolute positioning */
  right: 0;
  bottom: 0;
  min-width: 300%;
  min-height: 300%;
  width: auto;
  height: auto;
  z-index: -100; /* Keep the video behind other content */
  background-size: cover;
}

#bg-img {
  opacity: 0.05;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99;
}

/* Add this at the bottom of your CSS file */

p {
  font-size: large;
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: center;
}

.countdown-container {
  justify-content: space-around;
  width: 50%;
  display: flex;
}

.countdown-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-container p {
  margin: 0;
}

nav {
  z-index: 20;
  position: sticky;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #32323280;
  top: 0;
}
nav a {
  margin-right: 60px;
  text-decoration: none;
  color: #adff2f;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
  letter-spacing: 2px;
}

.vr-img {
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

#org-info p {
  font-weight: 400 !important;
}

#org-info {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
}

span {
  letter-spacing: 2px;
  font-weight: bolder;
}

.section2 img,
.section3 img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.container2,
.container3 {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.container {
  width: 90%;
  margin: 20px auto;
  background-color: #1f1f1f9d;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.group {
  margin-bottom: 20px;
  border-left: 4px solid #6200ee;
  background-color: #292929;
  padding: 10px;
  border-radius: 8px;
}

.group:hover {
  background-color: #2e2e2e;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.group h2 {
  color: #adff2f;
  font-size: 20px;
  margin-bottom: 10px;
}

.group p,
.group ul li {
  color: #e0e0e0;
  font-size: 16px;
}

.group ul {
  list-style-type: none;
  padding: 0;
}

.group ul li {
  margin-left: 20px;
  position: relative;
}

.group ul li:before {
  content: "•";
  color: #6200ee; /* Bullet color */
  font-size: 20px;
  position: absolute;
  left: -20px;
}

h1 {
  text-align: center;
}

p {
  margin-left: 20px;
}

.domains {
  display: flex;
  justify-content: space-between;
}

.domain {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 220px;
  border-radius: 5px;
  background-color: #292929;
  padding: 15px;
  text-align: center;
}
.domain p {
  margin: 0;
}

.domain:hover {
  background-color: #2e2e2e;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 48px;
  display: block;
  margin: auto;
}

.platform {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #292929;
  border: 2px solid var(--accent-color);
  padding: 15px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.platform img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.platform:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.platform h2 {
  color: var(--heading-color);
  margin-bottom: 10px;
}

.platform ul {
  list-style: none;
  padding: 0;
}

.platform ul li {
  margin-bottom: 5px;
}

.platform ul li:before {
  content: "•";
  color: var(--accent-color);
  margin-right: 5px;
}

.announcements {
  /* background-color: ; */
  color: var(--text-color);
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.announcements .container {
  background-color: #1f1f1f9d;
}

.announcements h1 {
  color: var(--heading-color);
}

.announcements p,
.announcements ol li {
  color: var(--text-color);
}

.announcements ol {
  counter-reset: item;
  list-style-type: none;
}

.announcements ol li {
  counter-increment: item;
  margin-bottom: 10px;
}

.announcements ol li:before {
  content: counters(item, ".") " ";
  color: var(--accent-color);
  font-weight: bold;
  margin-right: 5px;
}

/* prizes */
.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e0e0e0;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-primary
  .widget-49-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-primary
  .widget-49-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfcfd;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-secondary
  .widget-49-date-day {
  color: #dde1e9;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-secondary
  .widget-49-date-month {
  color: #dde1e9;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8faf8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-day {
  color: #17d1bd;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-month {
  color: #17d1bd;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebf7ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
  color: #36afff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
  color: #36afff;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: floralwhite;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-day {
  color: #ffc868;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-month {
  color: #ffc868;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #feeeef;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
  color: #f95062;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-danger
  .widget-49-date-month {
  color: #f95062;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fefeff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
  color: #f7f9fa;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-light
  .widget-49-date-month {
  color: #19709b;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #230da0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
  color: #394856;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
  color: #394856;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0fafb;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
  color: #68cbd7;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
  color: #a568d7;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-pro-title {
  color: #3c4142;
  font-size: 14px;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-meeting-time {
  color: #b1bac5;
  font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: 0.5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
  margin-left: 0.5rem;
}

.widget-49 .widget-49-meeting-action {
  text-align: right;
}

.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
}

.hackathon .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hackathon
  .widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-day {
  color: #d14217;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}
.hackathon
  .widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-month {
  color: #d14217;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.hackathon .widget-49 .widget-49-title-wrapper .widget-49-date-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #faebe8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.hackathon .card-body {
  display: flex;
  justify-content: center;
}

/*prize section*/
.prize-section .container {
  text-align: center;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
}

.prize-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.prize-card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.prize-card h2 {
  margin: 0;
  color: #333;
  margin-bottom: 15px;
}

.prize-card p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.first,
.second,
.third {
  background-color: #ffcc00;
  transform: scale(1);
}

.second {
  background-color: #c0c0c0;
}

.third {
  background-color: #cd7f32;
}

.prize-card:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
  body {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    position: relative !important;
    font-size: 5px !important;
  }

  #watsapp .container h2,
  #watsapp .container p {
    font-size: medium;
  }
  #watsapp .container li {
    font-size: small;
  }

  #watsapp,
  #registration,
  #socialmedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .confidential p {
    font-size: small !important;
    position: fixed;
    left: -10px !important;
    top: 65%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: top left;
    white-space: nowrap; /* Ensures the text stays in one line */
    letter-spacing: 3px !important;
  }

  .container,
  .container2,
  .container3 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .px-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pt-5 {
    padding-top: 0 !important;
  }

  p {
    font-size: small !important;
  }

  nav {
    padding: 5px !important;
    display: flex;
    justify-content: space-between;
    /* background-color: #2e2e2e36; */
  }
  nav a {
    margin-right: 10px !important;
    text-decoration: none;
    color: #adff2f;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .section2 img,
  .section3 img {
    width: 50%; /* Make images responsive */
    height: auto;
  }

  #socialmedia .platform img {
    width: 30% !important;
  }

  .container2,
  .container3,
  .platform {
    flex-direction: column; /* Stack elements vertically */
    gap: 20px;
  }

  .group,
  .domain,
  .platform {
    padding: 5px;
  }

  .group ul li:before,
  .platform ul li:before {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  .announcements ol li:before {
    margin-right: 10px;
  }

  /* Adjusting navigation and hero image positioning for smaller screens */
  nav {
    flex-direction: column;
    align-items: center;
  }

  .vr-img {
    position: relative !important;
    width: 100% !important;
  }

  .vr-img img {
    width: 100% !important;
    position: absolute !important;
    top: 10px;
  }

  .hero,
  .section2,
  .section3,
  #watsapp,
  #registration,
  .social-media-strategy,
  .announcements {
    margin-bottom: 30px;
  }

  .section2 {
    display: flex !important;
    justify-content: center !important;
  }
  .img-container,
  .para-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .domain {
    margin-top: 5px !important;
    width: 120px !important;
    height: 110px !important;
    /* height: auto !important; */
  }
  .domain p {
    margin: 0 !important;
  }

  .domains {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 5px;
    justify-content: flex-start;
  }
  .domain p .icon {
    font-size: 25px;
  }

  .domain h3 {
    font-size: small;
  }
  .platform li {
    font-size: 15px;
  }
  .platform img {
    width: 150px;
  }

  .announcements li,
  .announcements p {
    font-size: 15px;
  }

  #org-info p {
    margin: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  #org-info {
    margin-top: 0px !important;
    padding-top: 80px !important;
  }
}

@media only screen and (max-width: 500px) {
  /* Your CSS styles for XS devices go here */
  body h1 {
    font-size: 20px !important;
  }
  body h2 {
    font-size: 15px !important;
  }
  body h3 {
    font-size: 10px !important;
  }
  body p {
    font-size: 10px !important;
  }
  li {
    font-size: 10px !important;
  }
  nav a {
    font-size: 9px !important;
    margin-right: 5px !important;
  }
  .hero h1 {
    font-size: 20px !important;
  }
  .hero h2 {
    font-size: 15px !important;
  }
  .hero p {
    font-size: 10px !important;
    text-align: center;
  }

  .confidential p {
    font-size: 8px !important;
    letter-spacing: 2px !important;
  }
  .para-container p {
    font-size: 10px !important;
    text-align: center;
    margin-left: 0;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  .domain {
    width: 100% !important;
    height: 88px !important;
    margin-top: 3px !important;
  }

  .domains {
    justify-content: space-around;
  }

  #org-info {
    margin-top: 0px !important;
    padding-top: 50px !important;
  }

  .vr-img img {
    top: 40px;
  }
  .countdown-container {
    gap: 10px;
  }
}
